.form {
  max-width: 1280px;
  margin: 0 auto;
  padding: 76px;
}
.background {
  background: linear-gradient(
    127.39deg,
    #e0edf6 16.16%,
    #b0c9d8 50.59%,
    #13252e 105.96%
  );
}

@media (max-width: 1000px) {
  .form {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 500px) {
  .form {
    padding-left: 30px;
    padding-right: 30px;
  }
}
