/* --- Font Imports --- */

@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap");

/* --- CSS Variable Definitions (Global Scope) --- */

:root {
  --font-koh-santepheap: "Koh Santepheap";
  --font-quando: "Quando", serif;
  --font-old-standard-tt: "Old Standard TT", serif;
  --font-merriweather: "Merriweather", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}
