.image {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image img {
  object-fit: cover;
  object-position: center;
}

.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.container {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  font-family: var(--font-koh-santepheap);
  font-weight: 400;
  font-size: 210px;
  line-height: 100%;
  text-align: center;
  background: linear-gradient(71.81deg, #b0c9d8 1.37%, #13252e 94.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 50px;
  letter-spacing: 0%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

@media screen and (max-width: 900px) {
  .content {
    font-size: 120px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .image::after {
    background-color: rgba(217, 217, 217, 0.15);
  }

  .content {
    font-size: 80px;
    background: linear-gradient(71.81deg, #13252e 1.37%, #13252e 94.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 20px;
  }
}
