.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(117.07deg, #b0c9d8 1.74%, #415261 97.5%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

.logoContainer {
  width: auto;
  height: auto;
  position: relative;
}

.gif {
  width: 105px;
  height: 105px;
}

.text {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0%;
  text-align: center;
  color: #13252e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.dots {
  display: inline-block;
  width: 30px;
  text-align: left;
  color: transparent;
  animation: loading-dots-shadow 2.55s infinite steps(1);
}

@keyframes loading-dots-shadow {
  0% {
    text-shadow: none;
  }

  20% {
    text-shadow: 0.3em 0 0 #13252e;
  }

  50% {
    text-shadow:
      0.3em 0 0 #13252e,
      0.6em 0 0 #13252e;
  }

  75%,
  100% {
    text-shadow:
      0.3em 0 0 #13252e,
      0.6em 0 0 #13252e,
      0.9em 0 0 #13252e;
  }
}

@media (max-width: 700px) {
  .background {
    gap: 15px;
  }

  .gif {
    width: 80px;
    height: 80px;
  }

  .text {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .background {
    gap: 10px;
  }

  .gif {
    width: 50px;
    height: 50px;
  }

  .text {
    font-size: 18px;
    font-weight: 400;
  }
}
