.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  position: relative;
}

.container {
  display: flex;
  width: 1201px;
  max-width: 95%;
  height: 746px;
  position: relative;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.formContainer {
  width: 566px;
  height: 696px;
  border-radius: 93px;
  background: linear-gradient(
    226.83deg,
    rgba(224, 237, 246, 0.9) -4.84%,
    rgba(65, 82, 97, 0.9) 122.74%
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.image {
  width: 595px;
  height: 746px;
  border-radius: 93px;
  overflow: hidden;
  margin-left: -30px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  filter: blur(3px);
  position: relative;
  z-index: 1;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .formContainer {
    width: 90%;
    height: auto;
    min-height: 450px;
    opacity: 1;
    margin: 10px auto;
    padding: 20px 0;
  }

  .image {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .formContainer {
    width: 90%;
    height: auto;
    min-height: 450px;
    border-radius: 50px;
    opacity: 1;
    margin: 10px auto;
    padding: 20px 0;
  }

  .image {
    display: none;
  }
}
