.profileImageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.profilePageBackgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  transform: scale(1.02);
}

.profilePageWrapper {
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profileCardContainer {
  position: relative;
  width: 90%;
  max-width: 864px;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}

.profileCardContainerAgent {
  max-width: 1117px;
}
