.propertyPageBackground {
  background: #f7f7f7;
  position: relative;
}

.propertyPageContainerBackground {
  background: linear-gradient(
    109.45deg,
    #f7f7f7 -5.74%,
    #b0c9d8 66.26%,
    #415261 120.87%
  );
  display: flex;
  justify-content: center;
  padding-top: 71px;
  padding-left: 81px;
  padding-right: 81px;
}

.propertyPageContainer1 {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
}

.profileDetailTitle {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 50px;
  color: #13252e;
}

.propertyDetailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.propertyImageCard {
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
}

.propertyDetailCard {
  flex-shrink: 0;
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.propertyDetailDescription {
  font-family: var(--font-old-standard-tt);
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.propertyDetailDescription h2 {
  font-family: var(--font-old-standard-tt);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #13252e;
  opacity: 0.8;
}

/* Container 2: Recommendations */
.propertyPageContainer2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  position: relative;
  margin-top: 25px;
  z-index: 10;
}

.propertyDetailDropdowns {
  display: flex;
  justify-content: center;
  /* margin-top: 5px; */
}

.recommendationTitle {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 50px;
  color: #13252e;
  margin-top: 80px;
}

.recommendationGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

@media (max-width: 1150px) {
  .propertyDetailContainer {
    flex-direction: column;
    align-items: center;
  }

  .recommendationCards {
    margin-top: 10px;
  }

  .recommendationGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .recommendationTitle {
    margin-top: 0px;
  }
}

/* @media (max-width: 1150px) {
  
} */
@media (max-width: 800px) {
  .propertyPageContainerBackground {
    padding: 50px 20px 20px 20px;
  }

  .profileDetailTitle {
    font-size: 32px;
  }

  .recommendationTitle {
    font-size: 32px;
  }

  .recommendationSection h4 {
    font-size: 28px;
    text-align: center;
  }

  .recommendationGrid {
    grid-template-columns: 1fr;
  }
}
