.background {
  position: relative;
  background: #f7f7f7;
}

.image {
  position: relative;
  width: 100%;
  height: 544px;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.imageStyle {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  opacity: 0.61;
  filter: blur(1.5px);
  transform: scale(1.02);
}

.container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.content,
.content2 {
  text-align: center;
  font-family: var(--font-koh-santepheap);
  font-size: 210px;
  font-weight: 400;
  background: linear-gradient(
    280.9deg,
    #14242c -29.02%,
    #324b59 40.91%,
    #648aa2 106.52%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: -2px;
  pointer-events: none;
}

.propertiesContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px 20px 40px;
  position: relative;
  margin-top: 25px;
  z-index: 10;
}

.searchbar {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.dropdowns {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.propertiesContent {
  margin-top: 80px;
  text-align: left;
}

.propertiesTitle {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 50px;
  color: #13252e;
}

.reportTitle {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 50px;
  color: #13252e;
  margin: 0 80px;
}

.propertiesDescription {
  font-family: var(--font-old-standard-tt);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #13252e;
}

.propertyCards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 42px;
  margin: 0 auto;
  gap: 10px;
  border-radius: 93px;
  padding: 8px 22px;
  background: #980000;
  color: #f7f7f7;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.noResultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 42px;
  margin: 0 auto;
  gap: 10px;
  border-radius: 93px;
  padding: 8px 22px;
  background: #13252e;
  color: #f7f7f7;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.propertyGridPagination {
  display: flex;
  flex-direction: column;
}

.propertyGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 49px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  padding-top: 40px;
}

@media (max-width: 1500px) {
  .content2 {
    font-size: 150px;
  }
}

@media (max-width: 1150px) {
  .propertiesContent {
    margin-top: 20px;
  }

  .content {
    font-size: 140px;
  }

  .content2 {
    font-size: 120px;
  }

  .propertyGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .propertiesContainer {
    padding: 0 30px 40px 30px;
  }
}

@media (max-width: 1000px) {
  .reportTitle {
    margin: 0 60px;
    font-size: 48px;
  }
}
@media (max-width: 900px) {
  .content2 {
    font-size: 90px;
  }
  .reportTitle {
    margin: 0 40px;
    font-size: 45px;
  }
}

@media (max-width: 800px) {
  .image {
    height: 350px;
  }

  .reportTitle {
    margin: 0 30px;
    font-size: 40px;
  }

  .content,
  .content2 {
    font-size: 80px;
    letter-spacing: -1px;
  }

  .propertiesContainer {
    margin-top: 10px;
    padding: 0 20px;
  }

  .dropdowns {
    margin-top: 50px;
  }

  .propertiesTitle {
    font-size: 32px;
  }

  .propertiesDescription {
    font-size: 16px;
    line-height: 1.4;
  }

  .propertyGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .searchbar,
  .dropdowns {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 650px) {
  .reportTitle {
    margin: 0 20px;
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .content,
  .content2 {
    font-size: 60px;
  }

  .image {
    height: 280px;
  }

  .errorContainer,
  .noResultsContainer {
    max-width: 100%;
    font-size: 16px;
    padding: 8px 15px;
  }
  .reportTitle {
    font-size: 32px;
  }
}
