/* --- Logged Out Styles --- */

.background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  transform: scale(1.02);
}

.signUpPageCardContainer {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 850px;
  height: 627px;
  background: rgba(247, 247, 247, 0.52);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  padding: 40px;
}

@media (max-width: 900px) {
  .signUpPageCardContainer {
    width: 90%;
    height: 550px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .signUpPageCardContainer {
    width: 90%;
    height: 450px;
    padding: 15px;
  }
}

/* --- Logged In Styles --- */

.signUpBackground {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signUpPageContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 1280px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 93px;
  padding: 0 20px 0 20px;
  overflow: hidden;
  position: relative;
}

.signUpPictureContainer {
  width: 613px;
  position: relative;
  border-radius: 93px;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  filter: blur(2px);
  z-index: 1;
}

.signUpPictureContainer>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.signUpPageFormContainer {
  width: 625px;
  margin-left: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  z-index: 0;
}

@media (max-width: 900px) {
  .signUpPageContainer {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .signUpPageFormContainer {
    width: 95%;
    height: auto;
    opacity: 1;
    margin: 10px auto;
    padding: 30px 0;
  }

  .signUpPictureContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .signUpBackground {
    padding: 0;
    align-items: flex-start;
  }

  .signUpPageContainer {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 100vh;
    border-radius: 0px;
  }

  .signUpPageFormContainer {
    width: 100%;
    flex-grow: 1;
    max-width: 100%;
    border-radius: 0;
    background: #f7f7f7;
    margin: 3px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpPictureContainer {
    display: none;
  }
}