.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px 0;

  border-top: 2px solid #13252e;
  border-bottom: 2px solid #13252e;
  margin: 20px 80px;
}



.filterBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  font-family: var(--font-old-standard-tt);
  font-style: bold;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color:#666;
  transition: font-weight 0.2s ease-in-out;
}

.active {
  font-weight: 700;
  color: #13252e;
}

.filterBtn:hover {
  color: #13252e;
}

@media (max-width: 1000px) {
  .filterContainer {
    margin: 20px 60px;
    gap: 80px;
  }
  .filterBtn {
    font-size: 22px;
  }
}
@media (max-width: 900px) {
  .filterContainer {
    margin: 20px 40px;
    gap: 60px;
  }
  .filterBtn {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .filterContainer {
    gap: 40px;
    padding: 10px;
    margin: 20px 30px;
  }
}

@media (max-width: 650px) {
  .filterContainer {
    gap: 30px;
    padding: 10px;
    margin: 20px 20px;
  }

  .filterBtn {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .filterContainer {
    gap: 20px;
    padding: 8px;
  }

  .filterBtn {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .filterContainer {
    gap: 15px;
  }

  .filterBtn {
    font-size: 14px;
  }
}