.form{
  width: 100%;
  height: 92%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title{
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 50px;
  color: #13252e;
  line-height: 1;
  text-align: center;
  opacity: 1;
  margin-bottom: -20px;
}

.signUpFormButton {
  width: 100%;
  height: 45px;
  border-radius: 37px;
  background: #13252e;
  color: #f7f7f7;
  font-size: 18px;
}