.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 415px;
  height: 100%;
  padding: 20px 0;
}

.title1 {
  position: absolute;
  top: -30px;
  font-family: var(--font-koh-santepheap);
  font-weight: 400;
  font-size: 115px;
  text-align: center;
  line-height: 1;
  color: #13252e;
  z-index: 2;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 58px;
  margin-bottom: 40px;
}

.title2 {
  font-family: var(--font-quando);
  font-weight: 400;
  font-size: 53px;
  color: #13252e;
  text-align: center;
}

.generalError,
.success {
  width: 100%;
  padding: 10px;
  margin-bottom: -40px;
  border-radius: 37px;
  font-family: var(--font-merriweather);
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.generalError {
  background: #980000;
}

.success {
  background: #2c7701;
}

.formInputContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  padding: 13px;
  padding-right: 45px;
  border-radius: 93px;
  background: rgba(217, 217, 217, 0);
  border: 2px solid rgba(65, 82, 97, 1);
  font-family: var(--font-old-standard-tt);
  font-size: 16px;
  font-weight: 700;
  color: #13252e;
  box-sizing: border-box;
  text-align: left;
}

.input:focus {
  outline: none;
  border-color: #13252e;
  box-shadow: 0 0 5px rgba(19, 37, 46, 0.5);
}

.input::placeholder {
  color: #13252e;
  font-family: var(--font-old-standard-tt);
  font-size: 16px;
  font-weight: 700;
}

.input[id="email"]::placeholder {
  content: "Email";
}

.input[id="password"]::placeholder {
  content: "Password";
}

.passwordContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.error {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-style: bold;
  font-size: 12px;
  color: #a50000;
  margin-top: 5px;
  margin-left: 15px;
  text-align: left;
}

.buttonContainer {
  width: 100%;
}

.loginFormButton {
  width: 100%;
  height: 45px;
  border-radius: 37px;
  background: #13252e;
  color: #f7f7f7;
  font-size: 18px;
}

.loginFormButton:hover:not(:disabled) {
  background: #233e4f;
}

.logInLast {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #13252e;
  font-family: var(--font-old-standard-tt);
  font-size: 18px;
  font-weight: 700;
}

.logInLink {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  color: #13252e;
}

.logInLink:hover {
  text-decoration: underLine;
  color: #356983;
}

@media (max-width: 900px) {
  .title1 {
    top: -45px;
  }
}

@media (max-width: 600px) {
  .loginFormButton {
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .form {
    width: 90%;
    max-width: 90%;
  }

  .mainContainer {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .title1 {
    top: -30px;
    font-size: 5rem;
  }

  .title2 {
    font-size: 2.5rem;
  }

  .generalError,
  .success {
    font-size: 14px;
    padding: 8px;
    margin-top: -10px;
    margin-bottom: -20px;
  }

  .mainInputContainer {
    gap: 20px;
  }

  .formInputContainer {
    gap: 20px;
    margin-top: 20px;
  }

  .input {
    height: 38px;
    font-size: 14px;
  }

  .input::placeholder {
    font-size: 14px;
  }

  .logInLast {
    font-size: 16px;
  }

  .logInLink {
    font-size: 16px;
  }
}
