.profileInfoContainer {
  /* Common styles for both Agent and Customer containers */
  background: #f7f7f7;
  border: 3px solid #415261;
  border-radius: 35px;
  width: 864px;
  /* Using padding and margin for flexible positioning instead of absolute top/left */
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.profileDetailTitle {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 50px;
  /* Text color is dark, based on the background color given for the text */
  color: #13252e;
  text-align: left;
  margin-bottom: 10px;
}

.profileInfos {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.profileLabel {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 18px;
  color: #13252e;
  margin-bottom: -3px;
  display: block;
}

.profileBoxLabel {
  width: 544px;
}

.storedContent {
  /* Box style from spec */

  border: 1.5px solid #415261;
  border-radius: 6px;
  height: 33px;
  width: 100%; /* Default to full width of its container */
  padding: 5px 10px;

  /* Text style from spec */
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 18px;
  color: #13252e;
  line-height: 1.2;
  overflow: hidden; /* Ensures text doesn't flow out */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileDetailButtonContainer {
  display: flex;
  justify-content: center;
}

.editProfileButton .globalButton,
.myListingsButton .globalButton {
  /* Button box dimensions and background from spec */
  border-radius: 15px;
  background: #13252e;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  /* Text style from spec */
  color: #f7f7f7;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 47px 9px 47px;
}

.editProfileButton .globalButton:hover,
.myListingsButton .globalButton:hover {
  opacity: 0.9;
  box-shadow: 0 0 5px rgba(19, 37, 46, 0.5);
}
