.profileInfoContainer {
  /* Common styles for both Agent and Customer containers */
  background: #f7f7f7;
  border: 3px solid #415261;
  border-radius: 35px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.profileDetailTitle {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 50px;
  color: #13252e;
  text-align: left;
  margin-bottom: 10px;
}

.profileInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.profileBoxLabel {
  width: 100%;
  max-width: 544px;
}

.profileLabel {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 18px;
  color: #13252e;
  margin-bottom: -2px;
  display: block;
}

.storedContent {
  border: 2px solid #415261;
  border-radius: 6px;
  width: 100%;
  padding: 5px 10px;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 18px;
  color: #13252e;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileDetailButtonContainer {
  display: flex;
  justify-content: center;
}

.editProfileButton {
  border-radius: 15px;
  background: #13252e;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  color: #f7f7f7;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 47px;
}

.editProfileButton:hover {
  background: #233e4f;
  box-shadow: 0 0 5px rgba(19, 37, 46, 0.5);
}

@media (max-width: 550px) {
  .profileInfoContainer {
    padding-bottom: 30px;
  }

  .profileDetailTitle {
    font-size: 30px;
  }

  .profileInfos {
    gap: 25px;
    margin-bottom: 20px;
  }

  .profileLabel {
    font-size: 16px;
  }

  .storedContent {
    border: 1.5px solid #415261;
    font-size: 16px;
  }

  .editProfileButton {
    font-size: 16px;
    padding: 6px 40px;
  }
}

@media (max-width: 400px) {
  .profileInfoContainer {
    padding-bottom: 20px;
  }

  .profileDetailTitle {
    font-size: 25px;
  }

  .profileInfos {
    gap: 20px;
    margin-bottom: 20px;
  }

  .profileLabel {
    font-size: 14px;
  }

  .storedContent {
    font-size: 14px;
  }

  .editProfileButton {
    font-size: 14px;
    padding: 5px 35px;
  }
}

/* @media (max-width: 900px) {
  .profileInfoContainer:not(.agent) {
    background-color: lightcoral;
    width: 750px;
    margin: 0 auto;
  }

  .profileInfos {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
  }
} */

/* --- Responsive Styles (Mobile First: Up to iPhone 6/SE) --- */

/* @media (max-width: 768px) {
  .profileInfoContainer:not(.agent) {
    background-color: lightblue;
    width: 600px;
    margin: 0 auto;
  }

  .profileInfos {
    grid-template-columns: 1fr;
    max-width: 544px;
    margin-left: auto;
    margin-right: auto;
  } */

/* .profileDetailTitle {
    font-size: 40px;
    position: relative;
    left:-20px;
  } */

/* Adjustments for stored content on mobile */
/* .storedContent {
    font-size: 16px;
    margin-bottom: 15px;
  } */

/* Agent specific adjustments */

/* .agentProfileContainer {
    flex-direction: column; 
    gap: 20px;
  }

  .ImageContainer {
    width: 100%; 
    height: 200px; 
    margin-top: 0;
  }


  .subTitle {
    font-size: 22px;
  }

  .subTitle2 {
    font-size: 18px;
  } */

/* .agentProfileDetailButtonContainer,
  .profileDetailButtonContainer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
  }

  .editProfileButton .globalButton,
  .myListingsButton .globalButton {
    width: 100%;
    max-width: 280px;
  }

  @media (max-width: 620px) {
    .profileInfoContainer:not(.agent) {
      background-color: rgb(26, 196, 11);
      max-width: 480px;
      margin: 0 auto;
    }

    .profileInfos {
      grid-template-columns: 1fr;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .profileBoxLabel {
      width: 420px;
    }
  }

  @media (max-width: 490px) {
    .profileInfoContainer:not(.agent) {
      background-color: rgb(196, 11, 113);
      max-width: 350px;
      margin: 0 auto;
    }

    .profileInfos {
      grid-template-columns: 1fr;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .profileBoxLabel {
      width: 320px;
    }
  }

  @media (max-width: 360px) {
    .profileInfoContainer:not(.agent) {
      background-color: rgb(196, 153, 11);
      max-width: 230px;
      margin: 0 auto;
    }

    .profileInfos {
      grid-template-columns: 1fr;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .profileBoxLabel {
      width: 220px;
    }
  }
} */
