/* Common styles for both Agent and Customer containers */
.profileInfoContainer {
  background: #f7f7f7;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  color: #13252e;
  border: 3px solid #415261;
  border-radius: 35px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.profileDetailTitle {
  font-size: 50px;
  text-align: left;
  margin-bottom: 10px;
}

.profileInfos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileInfosUser {
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.profileBoxLabel {
  width: 100%;
  max-width: 544px;
}

.profileLabel {
  font-size: 18px;
  margin-bottom: -2px;
  display: block;
}

.storedContent {
  border: 2px solid #415261;
  border-radius: 6px;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  overflow-x: auto;
  white-space: nowrap;
  /* For text overflow with ... */
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.profileDetailButtonContainer {
  display: flex;
  justify-content: center;
}

.editProfileButton {
  border-radius: 15px;
  background: #13252e;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  color: #f7f7f7;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 47px;
}

.editProfileButton:hover {
  background: #233e4f;
  box-shadow: 0 0 5px rgba(19, 37, 46, 0.5);
}

/* Agent profile parts */

.agentProfileContainer {
  display: flex;
  flex-direction: row;
  gap: 26px;
}

.ImageContainer {
  width: 200px;
  height: 150px;
  border-radius: 12px;
  border: 3px solid #415261;
}

.ImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bioInfo {
  margin-bottom: 30px;
}

.subTitle {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 20px;
}

.aboutMeLabel {
  font-size: 20px;
  margin-bottom: -2px;
}

.storedText {
  border: 2px solid #415261;
  border-radius: 10px;
  width: 100%;
  max-width: 790px;
  min-height: 65px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.2;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.profileBoxLabelAgent {
  max-width: 710px;
}

.subTitle2 {
  font-size: 20px;
}

.agentProfileButtonContainer {
  display: flex;
  max-width: 710px;
  justify-content: space-between;
}

.editAgentProfileButton {
  border-radius: 10px;
  padding: 3px 36px;
}

.myListingsButton {
  justify-content: space-between;
  gap: 18px;
  border-radius: 10px;
  padding: 4px 13px;
}

.arrowIcon {
  width: 23px;
  height: 15px;
}

@media (max-width: 1200px) {
  .agentProfileContainer {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .profileInfoContainer {
    padding-bottom: 30px;
  }

  .profileDetailTitle {
    font-size: 30px;
  }

  .subTitle {
    font-size: 20px;
  }

  .aboutMeLabel {
    font-size: 16px;
  }

  .storedText {
    font-size: 16px;
  }

  .subTitle2 {
    font-size: 18px;
  }

  .profileInfos {
    gap: 25px;
    margin-bottom: 20px;
  }

  .profileLabel {
    font-size: 16px;
  }

  .storedContent {
    border: 1.5px solid #415261;
    font-size: 16px;
  }

  .editProfileButton {
    font-size: 16px;
    border-radius: 13px;
    padding: 6px 40px;
  }

  .agentProfileButtonContainer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .editAgentProfileButton {
    max-width: 180px;
    padding: 3px 36px;
  }

  .myListingsButton {
    max-width: 180px;
    padding: 4px 13px;
  }

  .arrowIcon {
    width: 21px;
    height: 13px;
  }
}

@media (max-width: 400px) {
  .profileInfoContainer {
    padding-bottom: 20px;
  }

  .profileDetailTitle {
    font-size: 25px;
  }

  .subTitle {
    font-size: 18px;
  }

  .aboutMeLabel {
    font-size: 14px;
  }

  .storedText {
    font-size: 14px;
  }

  .subTitle2 {
    font-size: 16px;
  }

  .profileInfos {
    gap: 20px;
    margin-bottom: 20px;
  }

  .profileLabel {
    font-size: 14px;
  }

  .storedContent {
    font-size: 14px;
  }

  .editProfileButton {
    font-size: 14px;
    border-radius: 11px;
    padding: 5px 35px;
  }

  .editAgentProfileButton {
    max-width: 180px;
    padding: 3px 36px;
  }

  .myListingsButton {
    max-width: 180px;
    padding: 4px 13px;
  }

  .arrowIcon {
    width: 19px;
    height: 11px;
  }
}
