.cardContainer {
  position: relative;
  width: 339px;
  height: 444px;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid rgba(19, 37, 46, 0.3);
  transition: transform 0.3s ease;
  background-color: #f0f0f0;
  cursor: pointer;
  box-sizing: border-box;
}

.cardContainer:hover .cardContent,
.cardContainer:focus-within .cardContent {
  opacity: 1;
}

.cardContainer:hover .propertyImage {
  transform: scale(1.05);
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.propertyImage {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.cardContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.9) 100%
  );
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;
  pointer-events: none;
}

.propertyTitle {
  position: absolute;
  bottom: 110px;
  left: 12px;
  right: 12px;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin: 0;
}

.propertyDescription {
  position: absolute;
  bottom: 60px;
  left: 12px;
  right: 12px;
  font-family: var(--font-old-standard-tt);
  font-size: 14px;
  color: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.learnMore {
  position: absolute;
  bottom: 15px;
  left: 12px;
  padding: 8px 20px;
  background: rgba(247, 247, 247, 0.2);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 29px;
  color: #f7f7f7;
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 900px) {
  .cardContent {
    opacity: 1;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
}

/* For very small devices (portrait phones) */
@media (max-width: 480px) {
  .cardContainer {
    width: 250px;
    height: 350px;
  }

  .propertyTitle {
    font-size: 20px;
  }
}
