.imageCard {
  box-sizing: border-box;
  max-width: 695px;
  width: 100%;
  height: 570px;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid rgba(20, 36, 44, 0.3);
  border-radius: 31px;
  background-color: #eee;
  transition: transform 0.3s ease;
  position: relative;
}

.imageCard:hover {
  transform: scale(1.01);
}

.propertyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .imageCard {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .imageCard {
    height: 350px;
    border-radius: 20px;
  }
}
