/* card */
.card {
  background: rgba(50, 75, 89, 0.4);
  border-radius: 15px;
  padding: 10px 0px 10px 10px;
  position: relative;
  font-family: var(--font-old-standard-tt);
  margin: 10px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

.reportId {
  font-family: var(--font-old-standard-tt);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #13252e;
}

.infoRow {
  font-family: var(--font-old-standard-tt);
  font-size: 20px;
  font-weight: 700;
  color: #13252e;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.aiButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10px 10px 0px;
}

.aiBtn {
  padding: 9px 24px 5px 24px;
  background: #f7f7f7;
  border: 1px solid #415261;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 25px;
  color: #13252e;
  transition: all 0.3s ease;
}

.aiIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
}

.aiBtn:hover {
  background: #ffffff;
  border-color: #13252e;
  box-shadow: 0px 6px 10px rgba(19, 37, 46, 0.2);
  transform: translateY(-1px);
}

.aiBtn:hover img {
  filter: drop-shadow(0px 0px 5px rgba(19, 37, 46, 0.3));
  transform: rotate(-10deg) scale(1.1);
}

.aiBtn:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 10px 0px 0px;
}

.detailsBtn {
  padding: 6px 24px 3px 24px;
  background: #f7f7f7;
  border-radius: 28px;
  border: none;
  cursor: pointer;

  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 25px;
  color: #13252e;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(0px 3px 5px rgba(19, 37, 46, 0.51));
  transition: all 0.3s ease;
}

.detailsBtn:hover {
  background: #13252e;
  color: #f7f7f7;
  filter: drop-shadow(0px 6px 8px rgba(19, 37, 46, 0.75));
  transform: translateY(-2px);
}

.deleteButton {
  padding: 6px 24px 3px 24px;
  background: #b70000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.34);
  border-radius: 20px;
  border: none;
  cursor: pointer;

  font-family: var(--font-old-standard-tt);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #f7f7f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton:hover {
  background: #d40000;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.45);
  transform: translateY(-2px);
}

.ratingSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;

  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 20px;
  color: #13252e;
}

.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1000px) {
  .card {
    margin: 15px 60px 30px 60px;
  }
}

@media (max-width: 900px) {
  .modalContent {
    margin: 60px;
  }

  .card {
    margin: 15px 40px 30px 40px;
  }

  .ratingSection {
    flex-direction: column;
  }

  .stars {
    gap: 5px;
  }
}

@media (max-width: 800px) {
  .card {
    margin: 15px 30px 30px 30px;
  }

  .actions {
    align-items: end;
  }

  .infoRow {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .card {
    margin: 15px 20px 30px 20px;
    flex-direction: column;
    gap: 10px;
  }

  .actions {
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .buttons {
    flex-direction: row-reverse;
    align-items: center;
  }

  .aiButton {
    justify-content: flex-start;
  }

  .buttons {
    padding: 0px;
  }

  .aiButton {
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .reportId {
    font-size: 20px;
  }

  .infoRow,
  .ratingSection {
    font-size: 16px;
  }

  .stars {
    gap: 5px;
  }

  .starFilled,
  .starEmpty,
  .starHalf {
    font-size: 18px;
  }

  .buttons {
    gap: 8px;
  }

  .aiBtn {
    padding: 6px 22px 3px 9px;
    font-size: 20px;
  }

  .aiIcon {
    width: 25px;
    height: 25px;
  }

  .detailsBtn {
    padding: 4px 22px 2px 22px;
    font-size: 20px;
  }

  .deleteButton {
    padding: 4px 22px 2px 22px;
    font-size: 20px;
  }
}
