.tabWrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.tabLink {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 20px;
  color: #666;
  text-decoration: none;
  padding-bottom: 10px;
  position: relative;
  transition: color 0.3s ease;
}

.tabLink.active {
  color: #13252e;
}

.tabLink.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #13252e;
}

.tabLink:hover {
  color: #13252e;
}

@media (max-width: 600px) {
  .tabWrapper {
    gap: 20px;
  }

  .tabLink {
    font-size: 16px;
  }
}
