.tabWrapper {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 24px auto;
}

.tabLink {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 30px;
  color: #666;
  text-decoration: none;
  padding-bottom: 7px;
  position: relative;
  transition: color 0.3s ease;
}

.tabLink.active {
  color: #13252e;
}

.tabLink.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #13252e;
}

.tabLink:hover {
  color: #13252e;
}

@media (max-width: 950px) {
  .tabWrapper {
    gap: 90px;
    margin: 20px auto;
  }

  .tabLink {
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .tabWrapper {
    gap: 50px;
  }

  .tabLink {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .tabWrapper {
    gap: 50px;
  }

  .tabLink {
    font-size: 20px;
  }
}@media (max-width: 550px) {
  .tabWrapper {
    gap: 30px;
  }

  .tabLink {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .tabWrapper {
    gap: 20px;
  }

  .tabLink {
    font-size: 14px;
  }
}
