.navbar {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  padding: 15px 80px 0px 80px;
}

.logo {
  font-family: var(--font-koh-santepheap);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  justify-items: left;
  color: #13252e;
  cursor: pointer;
  letter-spacing: 0%;
  text-decoration: none;
}

.navLinks {
  display: flex;
  justify-items: right;
  gap: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
  .navbar {
    padding: 10px 20px 0px 20px;
  }

  .logo {
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 3px 5px 0px 5px;
  }
  .logo {
    font-size: 16px;
  }
  .navLinks {
    gap: 10px;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 12px;
  }
}
