.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(83, 83, 83, 0.63);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modalContent {
  position: relative;
  width: 100%;
  max-width: 1118px;
  max-height: 80vh;
  background: #f7f7f7;
  border: 4px solid #324b59;
  border-radius: 15px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  width: 100% !important;
  height: auto !important;
  object-fit: contain;
  display: block;
  border-radius: 11px;
}

.closeButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: -20px;
  right: -20px;
  z-index: 1010;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .modalContent {
    width: 90vw;
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 768px) {
  .modalContent {
    border-width: 2px;
    width: 95%;
  }

  .closeButton {
    top: -10px;
    right: -10px;
  }

  .closeButton img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .modalContent {
    max-height: 95vh;
  }
}
