.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 0;
}

.modalContent {
  width: 751px;
  max-height: none;
  position: relative;
  margin: 0 auto;
}

.modalBodyX {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.modalBody {
  background: #f7f7f7;
  border-radius: 15px;
  padding: 15px;
  overflow: visible;
  box-shadow:
    -2px -2px 14px 4px #415261,
    2px 2px 14px 4px #415261;
}

.closeButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: -20px;
  right: -20px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  gap: 50px;
}

.modalMainTitle {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 40px;
  color: #13252e;
}

.modalStatus {
  font-family: var(--font-old-standard-tt);
  font-size: 20px;
  font-weight: 700;
}

.modalReportId {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 25px;
  color: #13252e;
  margin-bottom: 10px;
}

.modalSection {
  margin-bottom: 25px;
  font-family: var(--font-old-standard-tt);
  font-size: 18px;
  color: #13252e;
  line-height: 1.6;
}

.sectionUnderline {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  /* margin-bottom: 10px; */
}

.insideSection {
  font-family: var(--font-old-standard-tt);
  font-weight: 700;
  font-size: 20px;
}

.aiSummaryBox {
  width: 100%;
  min-height: 300px;
  border: 2px solid #13252e;
  border-radius: 10px;
  padding: 15px;
  font-family: var(--font-old-standard-tt);
  font-size: 18px;
  line-height: 1.4;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: 700;
}

@media (max-width: 900px) {
  .modalContent {
    margin: 60px;
  }
}

@media (max-width: 800px) {
  .modalMainTitle {
    font-size: 30px;
  }

  .modalStatus {
    position: static;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
  }

  .modalReportId {
    font-size: 17px;
    color: #13252e;
    margin-bottom: 15px;
  }

  .modalSection {
    font-size: 14px;
    color: #13252e;
  }

  .sectionUnderline {
    font-weight: 700;
    font-size: 17px;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .insideSection {
    font-size: 15px;
  }

  .modalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: 700;
  }

  .overlay {
    padding: 10px 0;
  }
}

@media (max-width: 700px) {
  .modalFooter {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
  .modalContent {
    margin: 40px;
  }
}

@media (max-width: 650px) {
  .modalHeader {
    flex-direction: column;
    gap: 10px;
  }

  .modalContent {
    margin: 30px;
  }
}

@media (max-width: 480px) {
  .modalFooter {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
}
